.footer-left, .footer-right {
    float: left;
    width: 50%;
    margin: 0 auto;
}

.footer-left{
    padding-top: 18px;
}

.footer-right{
        /*-- прижать текст  --- */
    text-align: right;
}

.conyright {
    font-size: 14px;
    font-weight: 300;
    color: #9c9c9c;

}

.socials_item_tw, .socials_item-fb, .socials_item-vs{
    display: inline-block;
        /*-- выравание ПО ДЛИНЕ --- */
    vertical-align: middle;
    padding-top: 10px;

}


.socials_list {
    display:inline;
    padding:0 10px;
}


